<div class="container mt-2">
  <h1>Add new transaction</h1>
  <%= bootstrap_form_with(model: entity, method: :post, url: new_entity_path) do |form| %>

      <%= form.text_field :name %>

      <%= form.text_field :amount %>

    <%= form.collection_select(:group_id, @user.groups.all, :id, :name, class:"w-full px-4 py-3 border", label: 'Select a category') %>

      <%= form.submit %>

  <% end %>

  <div>
    <%= link_to "Back to categories", groups_path %>
  </div>
</div>
