
<%= render 'layouts/navbar' %>
<div class="container mt-5">
  <%= render @group %>
    <div class="entity-container">
      <%= @group.entities.each do |entity| %>
        <%= entity.name %>
        <%= entity.amount %>
        <%= entity.created_at.to_time.strftime('%B %e at %l:%M %p')%>
      <%end%>
    </div>
  <div class="d-flex">
    <%= link_to "Back to categories", groups_path, class: "btn btn-primary mx-2"%>
    <%= link_to 'Add a new transaction', new_group_entity_path(@group), class: "btn btn-primary mx-2"%>
  </div>
</div>