
<%= render 'layouts/navbar' %>
<div class="container mt-5">
  <%= render @group %>
    <% if @entities.nil? %>
      <%= p 'list is empty' %>
    <% else %>
    <div class="entity-container">
      <% @entities.each do |entity| %>
        <%= entity.name %>
        <%= entity.amount %>
        <%= entity.created_at.to_time.strftime('%B %e at %l:%M %p')%>
      <% end %>
    </div>
    <% end %>
  <div class="d-flex">
    <%= link_to "Back to categories", groups_path, class: "btn btn-primary mx-2"%>
    <%= link_to 'Add a new transaction', new_entity_path, class: "btn btn-primary mx-2"%>
  </div>
</div>